@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-family: 'Poppins';
    background-color: black;

}

#home:before{
    color: rgb(148 163 184);
}

#home {
    display: inline-block;
    position: relative;
  }
  
  #home:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(238,54,0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  #home:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#about:before{
    color: rgb(148 163 184);
}

#about {
    display: inline-block;
    position: relative;
  }
  
  #about:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(37,124,222);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  #about:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


#events:before{
    color: rgb(148 163 184);
}

#events {
    display: inline-block;
    position: relative;
  }
  
  #events:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(218,119,30);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  #events:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


#contact:before{
    color: rgb(148 163 184);
}

#contact {
    display: inline-block;
    position: relative;
  }
  
  #contact:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(53,136,135);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  #contact:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

::-webkit-scrollbar{
    width: 0px;
}

h3 {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(4) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(5) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(6) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(7) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(8) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(9) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(10) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(11) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
